@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  padding: 0px;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

input {
  outline: none;
  box-shadow: 2px 2px 2px 2px grey;
  border-radius: 5px;
}
